<header class="app-header">
  <div class="left">
    <img src="logo.png" alt="Logo" class="logo" (click)="goHome()" />
  </div>

  

  <div class="rightcomps">
    <div class="cart-icon" (click)="goToCart()">
    <i class="fa-solid fa-cart-arrow-down fa-sm"></i>
    <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
  </div>

    <div class="right">
      <ng-container *ngIf="!isLoggedIn">
        <a (click)="login()">Login</a> | 
        <a (click)="goToRegister()">Register</a>
      </ng-container>
    </div>
    <div class="right-right">
      <div class="user-avatar"
        [ngStyle]="{'background-image': userAvatar ? 'url(' + userAvatar + ')' : ''}" 
        (click)="goToProfile()">
      </div>
    </div>
  </div>
</header>
