.app-header {
  width: 100%;
  height: 70px;
  background-color: #335649;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 15px 10px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.left {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 50px;
}

.logo {
  height: 40px;
  cursor: pointer;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}
.menu {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  

}
.rightcomps{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 20px;
}
.right a {
  color: white;
  text-decoration: none;
  background: #5AE6C8;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.right a:hover {
  background: #47b9a1;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  cursor: pointer;
}







.cart-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
  align-self: center;
    display: flex;
  &:hover {
    transform: scale(1.5);
  }

  .cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
