

<header class="app-header">
  <div class="left">
    <img src="assets/images/logo.svg" alt="Logo" class="logo" />
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="right">
  <ng-container *ngIf="!isLoggedIn">
    <a (click)="login()">Login</a> | 
    <a (click)="goToRegister()">Register</a>
  </ng-container>

  <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
</div>

</header>


