footer{
    width: 100%;
    height: 70px;
    background: #89bea9;
    overflow: hidden;
    align-items: center;
    display: flex;
    margin-top: 200px;
    p{
        padding-left: 40px;
        align-self: center;
        color: white;
    }
}