<div class="login-container">
  <h2 style="letter-spacing: 4px;">LOG IN</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <div class="input-wrapper" [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <input type="email" formControlName="email" placeholder="Email" autocomplete="email" />
    </div>

    <div class="input-wrapper" [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password" />
    </div>

    <button type="submit" [disabled]="loginForm.invalid || isSubmitting">Sign In</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
